# Python Basics 2

## Functions

### Introduction

In [ ]:
# Programme to choose N objects out of R -nCr
n = int(input())
r = int(input())

n_fact = 1
for i in range(1,n+1):
    n_fact = n_fact * i

r_fact = 1
for i in range(1,r+1):
    r_fact = r_fact * i

n_r_fact = 1
for i in range(1,n-r+1):
    n_r_fact = n_r_fact * i

ans = n_fact//(r_fact * n_r_fact)
print(ans)

In [ ]:
# Creating a function so that we do not repeat the code again and again
def fact(n):
    n_fact = 1
    for i in range(1,n+1):
        n_fact = n_fact * i
    return n_fact

In [ ]:
# Calling and printing a function
a = fact(3)
print(a)

In [ ]:
# Printing the chosoing options using the fact function
n = int(input())
r = int(input())
n_fact = fact(n)
r_fact = fact(r)
n_r_fact = fact(n-r)
ans = n_fact//(r_fact * n_r_fact)
print(ans)

### Question 1

Check weather a function is prime or not

In [ ]:
def isPrime(n):
    for d in range(2, n):
        if n % d == 0:
            break
    else:
        return True
    # we are returning the flase here as the function has tu return either true or false - Till above the function only deals with True. if it comes to return True in the for
    # it will terimate there only, but if the fuction breaks(on if statement) it will return false i.e. the given number was not a prime. 
    return False

# Driver Code
a = isPrime(7)
print(a)

Prints all Prime number from 2 to n

In [ ]:
def primeFrom2toN2(n):
    for k in range(2,n+1):
        # check if k is prime and in case it is prime print k
        is_k_prime = isPrime(k)
        if(is_k_prime):
            print(k)
# Driver Code
primeFrom2toN2(10)

### Function for calculating nCr

In [ ]:
# We are using the prime function here
def ncr(n, r):
    n = int(input())
    r = int(input())
    n_fact = fact(n)
    r_fact = fact(r)
    n_r_fact = fact(n-r)
    ans = n_fact//(r_fact * n_r_fact)
    return ans

In [ ]:
def func(a):
    a = a + 10
    return a
a = 5
func(a)
print(a)

### DEFAULT ARGUMENTS - Fuctions with variable number of Arguments

In [ ]:
def sum0(a,b):
    return a + b

def sum1(a,b,c):
    return a + b + c
# but if we don't want to make a function 2 times then we can...
# ALL NON DEFAULT ARGUMNETS SHOULD BE BEFORE ARGUMENTS WITH DEFAULT ARGUMNETS

def sum(a,b,c=0):
    return a + b + c

print(sum(2,3,4))
print(sum(2,3))

### Question 2

Fahrenheit to Celsius Function

Given three values - Start Fahrenheit Value (S), End Fahrenheit value (E) and Step Size (W), you need to convert all Fahrenheit values from Start to End at the gap of W, into their corresponding Celsius values and print the table.  

Input Format :  
3 integers - S, E and W respectively

Output Format :  
Fahrenheit to Celsius conversion table. One line for every Fahrenheit and Celsius Fahrenheit value. Fahrenheit value and its corresponding Celsius value should be separate by tab   ("\t")  

Constraints :  
0 <= S <= 1000  
0 <= E <= 1000  
0 <= W <= 1000  

Sample Input 1:  
0  
100  
20  

Sample Output 1:  
0   -17  
20  -6  
40  4  
60  15  
80  26  
100 37  

Sample Input 2:  
120   
200   
40

Sample Output 2:  
120 48  
160 71  
200 93  

Explanation for Sample Output 2 :  
Start value is 120, end value is 200 and step size is 40. Therefore, the values we need to convert are 120, 120 + 40 = 160, and 160 + 40 = 200.   
The formula for converting Fahrenheit to Celsius is:  
Celsius Value = (5/9)*(Fahrenheit Value - 32)    
Plugging 120 into the formula, the celsius value will be (5 / 9)*(120 - 32) => (5 / 9) * 88 => (5 * 88) / 9 => 440 / 9 => 48.88  
But we'll only print 48 because we are only interested in the integral part of the value.

In [ ]:
def printTable(start,end,step):
    for i in range(start, end +1,step):
        C = (i - 32) * 5/9
        print(i,' ',int(C),'\t')
 
s = int(input())
e = int(input())
step = int(input())
printTable(s,e,step)

### Question 3

<pre>
Fibonacci Member

Given a number N, figure out if it is a member of fibonacci series or not. Return true if the number is member of fibonacci series else false.
Fibonacci Series is defined by the recurrence
    F(n) = F(n-1) + F(n-2)
where F(0) = 0 and F(1) = 1


Input Format :
Integer N
Output Format :
true or false
Constraints :
0 <= n <= 10^4
Sample Input 1 :
5
Sample Output 1 :
true
Sample Input 2 :
14
Sample Output 2 :
false    
</pre>

In [ ]:
def checkMember(n):
    f0 = 0
    f1 = 1
    if  n==f0 or n==f1:
        return True
    f2 = f0+f1
    while(f2<n):
        f0 = f1
        f1 = f2
        f2 = f0 + f1
    if f2 == n:
        return True
    else:
        return False
x   
n=int(input())
if(checkMember(n)):
    print("true")
else:
    print("false")

### Question 4

<pre>
Palindrome number

Write a program to determine if given number is palindrome or not. Print true if it is palindrome, false otherwise.
Palindrome are the numbers for which reverse is exactly same as the original one. For eg. 121

Sample Input 1 :
121

Sample Output 1 :
true

Sample Input 2 :
1032

Sample Output 2 :
false
</pre>

In [ ]:
def checkPalindrome(num):
    temp = num
    rev = 0
    while(num > 0):
        reminder = num % 10
        rev = (rev * 10) + reminder
        num = num // 10
        
    if (temp == rev):
        return True
    else:
        return False
     
     
num = int(input())
isPalindrome = checkPalindrome(num)
if(isPalindrome):
	print('true')
else:
	print('false')

### Question 5

<pre>
Check Armstrong

Write a Program to determine if the given number is Armstrong number or not. Print true if number is armstrong, otherwise print false.
An Armstrong number is a number (with digits n) such that the sum of its digits raised to nth power is equal to the number itself.

For example,
371, as 3^3 + 7^3 + 1^3 = 371
1634, as 1^4 + 6^4 + 3^4 + 4^4 = 1634

Input Format :
Integer n

Output Format :
true or false

Sample Input 1 :
1

Sample Output 1 :
true

Sample Input 2 :
103

Sample Output 2 :
false
</pre>

## Lists

### Creating a list

In [1]:
li = []

In [2]:
type(li)

list

In [3]:
li = [1,2,3]

In [4]:
    li  = [1, 2, 'Abhishek', 3.4]

In [5]:
  li

[1, 2, 'Abhishek', 3.4]

### Access and change elements

In [6]:
li[0]

1

In [7]:
li[2]

'Abhishek'

In [8]:
li[0] = 5

In [9]:
li[2] = 'Avishek'

In [10]:
li

[5, 2, 'Avishek', 3.4]

### Slicing of a list

In [11]:
# Indexing starts from 0 and ends ar (n-1)
# Prints 1st and 2nd index
li [1:3]

[2, 'Avishek']

In [12]:
li

[5, 2, 'Avishek', 3.4]

In [13]:
# Will give us all the elemnts strating from 1st index and ending at last index
li[1:]

[2, 'Avishek', 3.4]

In [14]:
# Will give you complete list
li[:]

[5, 2, 'Avishek', 3.4]

In [15]:
# If I wanna print 1 till 10 index it will not matter if the index is present or not it just prints all the elemets irrespective
li [1:10]

[2, 'Avishek', 3.4]

### Inserting and append elemnts in the list

In [16]:
# will add the element in the last
li.append('Ankush')

In [17]:
li

[5, 2, 'Avishek', 3.4, 'Ankush']

In [18]:
# Will insert 7 in the 1st index and move all the rest of the index in the last
li.insert(1,7)

In [19]:
li

[5, 7, 2, 'Avishek', 3.4, 'Ankush']

In [20]:
# if the index we are trying to update in is not present then it will actomatically add in the last index
li.insert(100,'Abhimanyu')

In [21]:
li

[5, 7, 2, 'Avishek', 3.4, 'Ankush', 'Abhimanyu']

In [22]:
# If I want to append multiple elements liek this then it will add a list inside a list
li.append([9,10,11])

In [23]:
li

[5, 7, 2, 'Avishek', 3.4, 'Ankush', 'Abhimanyu', [9, 10, 11]]

In [24]:
# But if we do not want to insert the multiple elements as list then we can use 'extend'
li.extend([9,10,11])

In [25]:
li

[5, 7, 2, 'Avishek', 3.4, 'Ankush', 'Abhimanyu', [9, 10, 11], 9, 10, 11]

### Removing elements from the list

In [27]:
li.remove(2)

In [28]:
li

[5, 7, 'Avishek', 3.4, 'Ankush', 'Abhimanyu', [9, 10, 11], 9, 10, 11]

In [29]:
# Now there can be multiple istances of element present
li.append(5)

In [30]:
li.remove(5)

In [31]:
# 5 is removed from the fisrst element
li

[7, 'Avishek', 3.4, 'Ankush', 'Abhimanyu', [9, 10, 11], 9, 10, 11, 5]

In [32]:
# If we wanted to delete from a particular index we could use the pop functationality
# By default the if we do not specify any value inside the pop fuction the it will remove the last element or else we can specify the index which we would like to 
li.pop()

5

In [33]:
li

[7, 'Avishek', 3.4, 'Ankush', 'Abhimanyu', [9, 10, 11], 9, 10, 11]

In [34]:
# pop also returns the elemnt that is removed
li.pop(2)

3.4

In [35]:
li

[7, 'Avishek', 'Ankush', 'Abhimanyu', [9, 10, 11], 9, 10, 11]

In [36]:
# length functionality is present in the list
len(li)

8

### Loopin in a list

In [37]:
a = [1, 2, 'Avishek', 9, 10, 11, 'Abhimanyu']

In [38]:
a

[1, 2, 'Avishek', 9, 10, 11, 'Abhimanyu']

In [39]:
# Printing the elements of list - we can do it in 2 ways
# We will use this method when we need the index in our programme
# WAY 1
for i in range(len(a)):
    print(a[i])

1
2
Avishek
9
10
11
Abhimanyu

In [40]:
# Starting from the 2nd index and then looping
for i in range(2,len(a)):
    print(a[i])

Avishek
9
10
11
Abhimanyu

In [42]:
# We can also print the elements of the list in this friend
# We will prefer this if we do not need an index
# WAY 2
for i in a:
    print(i)

1
2
Avishek
9
10
11
Abhimanyu

In [43]:
# Starting from the 2nd index and then looping
for i in a[2:]:
    print(i)

Avishek
9
10
11
Abhimanyu