# Python Basics 3

## Contents:
* Strings

### Initialisation

In [7]:
a = 'Avishek'

In [8]:
print(a)

Avishek

In [9]:
a = "Avishek"

In [10]:
print(a)

Avishek

In [11]:
a = '''Avishek'''

In [12]:
print(a)

Avishek

### Multiline string

In [13]:
# Advntage of the trinple quotes - Multiline string
b = '''My 
name is
Avishek Roy'''

In [14]:
print(b)

My
name is
Avishek Roy

### String Indexing

In [15]:
# The concept of indexing is quite similar to that of indxing in lists
a = 'Avishek'

In [17]:
a[0]

'A'

In [19]:
a[6]

'k'

In [20]:
a[-1]

'k'

In [22]:
a = '''My
name is
Avishek'''

In [23]:
a[0]

'M'

In [24]:
# When we go to the new line the index is taken by new line character
a[2]

'\n'

In [25]:
a

'My\nname is\nAvishek'

### String are Immutable

In [26]:
a = 'Avishek'

In [29]:
#This gives a error as lists are immutable
# a[0] = 'R'

### Concatination of 2 Strings

In [30]:
a = "red"
a = a + "blue"
a

'redblue'

In [36]:
a += 'red'
a

'redblueredredred'

In [38]:
id(a)

1892835810480

In [41]:
a += 'yellow'
a

'redblueredredredyellowyellowyellow'

In [42]:
# the id of the a's are different -  as stings are immutable
id(a)

1892811808464

In [43]:
a = 'blue'
a = a*3
a

'blueblueblue'

In [45]:
# python does not add a stringa and a number
# a = 'red' + 3
# we can use the str operation and convert the number into a string
a = 'red' + str(3)
a

'red3'

### Slicing on String

In [46]:
# [start:end:step]
a = 'Avishek'
a[1:4]

'vis'

In [47]:
a[1:4:2]

'vs'

In [50]:
a[-5:-3]

'is'

In [53]:
a

'Avishek'

In [51]:
a[::-1]

'kehsivA'

In [52]:
a[:3:-1]

'keh'