# Python Basics 3

## Contents:
* Strings

### Initialisation

In [3]:
a = 'Avishek'

In [4]:
print(a)

Avishek

In [5]:
a = "Avishek"

In [6]:
print(a)

Avishek

In [7]:
a = '''Avishek'''

In [8]:
print(a)

Avishek

### Multiline string

In [9]:
# Advntage of the trinple quotes - Multiline string
b = '''My 
name is
Avishek Roy'''

In [10]:
print(b)

My
name is
Avishek Roy

### String Indexing

In [11]:
# The concept of indexing is quite similar to that of indxing in lists
a = 'Avishek'

In [12]:
a[0]

'A'

In [13]:
a[6]

'k'

In [14]:
a[-1]

'k'

In [15]:
a = '''My
name is
Avishek'''

In [16]:
a[0]

'M'

In [17]:
# When we go to the new line the index is taken by new line character
a[2]

'\n'

In [18]:
a

'My\nname is\nAvishek'

### String are Immutable

In [19]:
a = 'Avishek'

In [20]:
#This gives a error as lists are immutable
# a[0] = 'R'

### Concatination of 2 Strings

In [21]:
a = "red"
a = a + "blue"
a

'redblue'

In [22]:
a += 'red'
a

'redbluered'

In [23]:
id(a)

2723962090160

In [24]:
a += 'yellow'
a

'redblueredyellow'

In [25]:
# the id of the a's are different -  as stings are immutable
id(a)

2723973403312

In [26]:
a = 'blue'
a = a*3
a

'blueblueblue'

In [27]:
# python does not add a stringa and a number
# a = 'red' + 3
# we can use the str operation and convert the number into a string
a = 'red' + str(3)
a

'red3'

### Slicing on String

In [28]:
# [start:end:step]
a = 'Avishek'
a[1:4]

'vis'

In [29]:
a[1:4:2]

'vs'

In [30]:
a[-5:-3]

'is'

In [31]:
a

'Avishek'

In [32]:
a[::-1]

'kehsivA'

In [33]:
a[:3:-1]

'keh'

### Iterating on Strings

In [34]:
str = 'Hello World'

In [35]:
# Approach 1
for i in str:
    print(i)

H
e
l
l
o

W
o
r
l
d

In [36]:
# Approach 2 - if we need the index
for i in range(len(str)):
    print(str[i])

H
e
l
l
o

W
o
r
l
d

In [37]:
# Calculate how many times 'l' appers in the strings 
count = 0
for i in str:
    if (i == 'l'):
        count += 1
print(count)

3

In [38]:
count = 0
for i in range(len(str)):
    if (str[i] == 'l'):
        count += 1
print(count)

3

### In and Not in operation

Starting from any character and a continious part of the string. Can't go backwards  
if we want to check if a string is a substring or not we can use the in opereator

In [39]:
str = 'hello'
a = 'hel'
if a in str:
    print ('yes it is a substring')
else:
    print('not a substring')

yes it is a substring

### Comparison operators on strings

In [40]:
a = "Avishek" == "Avishek"
a

True

In [41]:
# Compared on the basis of ASSCI
a = 'Avisehk' >= 'Abhishek'
a

True

In [42]:
# Smaller letters have a greater ASSCI values
a = 'avishek' >= 'Avishek'
a

True

In [43]:
# if alll he char are same but the length is not = then who so evers length is more will have the greater value
a = 'avi' >= 'Avishek'
a

True

<pre>
Check Palindrome

Given a string, determine if it is a palindrome, considering only alphanumeric characters.
Palindrome
A palindrome is a word, number, phrase, or other sequences of characters which read the same backwards and forwards.
Example:
If the input string happens to be, "malayalam" then as we see that this word can be read the same as forward and backwards, it is said to be a valid palindrome.

The expected output for this example will print, 'true'.
From that being said, you are required to return a boolean value from the function that has been asked to implement.
Input Format:
The first and only line of input contains a string without any leading and trailing spaces. All the characters in the string would be in lower case.
Output Format:
The only line of output prints either 'true' or 'false'.
Note:
You are not required to print anything. It has already been taken care of.
Constraints:
0 <= N <= 10^6
Where N is the length of the input string.

Time Limit: 1 second
Sample Input 1 :
abcdcba
Sample Output 1 :
true 
Sample Input 2:
coding
Sample Output 2:
false
</pre>

In [44]:
# Aproach 1 - not that good of a solution
def isPalindrome(string):
    temp = string[::-1]
    if string == temp:
        return True
    else:
        return False

a = isPalindrome('aja')
print(a)

True

In [45]:
# Approach 2 - better as will break as soon as any os the indices so not match
# Time Complexity - O(N), Space Complexity O(1)
def isPalindrome(string):
    for i in range(len(string)):
        if string[i] != string[-i-1]:
            return False
    else:
        return True

a = isPalindrome('codingc')
print(a)

False

In [46]:
def isPalindrome(string) :
    left = 0    
    right = len(string) - 1    
    while left < right :        
        if string[left] != string[right] :            
            return False        
        left += 1        
        right -= 1    
    return True

a = isPalindrome('abcdcba')
print(a)

True

### Operations on a string

#### Split function

In [2]:
a = 'My name is Avisehk Roy'
li  =  a.split()
print(li)
# returns a list

['My', 'name', 'is', 'Avisehk', 'Roy']

In [47]:
a = 'My,name,is,Avisehk,Roy'
li  =  a.split(',')
print(li)

['My', 'name', 'is', 'Avisehk', 'Roy']

##### maxsplit

In [48]:
# Default argument is all the elemnts to be split, but we can specify then number of elements we would like it to split
a = 'My name is Avisehk Roy'
li  =  a.split(' ', 1) # the maxsplit splits the string into i+1 items so if I give it 1 then the string will be split into 2 items
print(li)

['My', 'name is Avisehk Roy']

In [49]:
a = 'My name is Avisehk Roy'
li  =  a.split(' ', 2)
print(li)

['My', 'name', 'is Avisehk Roy']

#### Replace

In [51]:
str = 'My name is Parik Roy'
str.replace("Parik", "Avishek")
str
# does not make any changes in str, as strings are immutable

'My name is Parik Roy'

In [52]:
str = 'My name is Parik Roy'
str = str.replace("Parik", "Avishek")
str

'My name is Avishek Roy'

In [53]:
str = 'I am writing Rohan three times as Rohan will be replaced Rohan'
str = str.replace("Rohan", "Avishek")
str

'I am writing Avishek three times as Avishek will be replaced Avishek'

In [54]:
# If we want to specify that we want to replace only two Rohans in the statement, we can do that
str = 'I am writing Rohan three times as Rohan will be replaced Rohan'
str = str.replace("Rohan", "Avishek",2)
str

'I am writing Avishek three times as Avishek will be replaced Rohan'

#### Find

In [55]:
# finds returns the starting index of a substring if it is present inside a substring
str = 'My name is Avishek'
index  = str.find('Avi')
print(index)

11

In [56]:
# If the index is not present the it will return -1
str = 'My name is Avishek'
index  = str.find('Avik')
print(index)

-1

In [75]:
# we can specify to find the substring in a particular part of the string
str = 'My name is Avishek. People call me as avi which is a short form for Avishek'
index  = str.find('Avishek', 59,76)
print(index)

68

#### lower and upper

In [76]:
a = 'My name is Avishek'
a = a.lower()
print(a)
a = a.upper()
print(a)

my name is avishek
MY NAME IS AVISHEK

#### starts with

In [77]:
# weather a string is starting with the specified substring - return  a boolean
str = 'My name is Avisehk'
a = str.startswith('My n')
print(a)

True

In [78]:
str = 'My name is Avisehk'
a = str.startswith('name',3)
print(a)

True

### Replace character in a string

In [81]:
def replaceChar(string, chr1, chr2):
    newStr = '' # we have to make a new string because we cannot make changes into the main string as we know that strings are immutable
    for i in string:
        if(i == chr1):
            newStr += chr2
        else:
            newStr += i
    return newStr

a = replaceChar('halla','a','o')
print(a)

hollo

### Count - Vowals, Consonents, Digits & Special Character in Srtings

In [84]:
def countInString(str):
    v,c,d,s = 0,0,0,0
    for char in str:
        if ( (char >= 'a'and char <= 'z') or (char >= 'A' and char <= 'Z') ): # either a vowal or a consonent
            char = char.lower()
            if (char =='a'or char =='e' or char =='i'or char =='o' or char =='u'):
                v+=1
            else:
                c+=1
        elif( char>="0" or char<="9" ):
            d+=1
        else:
            s+=1        
    return v,c,d,s       
            
string = 'hfAafsHjsld3$3*sdF$%@*'
v,c,d,s = countInString(str)
print(v,c,d,s)

6 9 3 0